:root{
    --nearWhite: #FDF0D5;
    --conBright: #C1121F;
    --contrast: #910000;  
    --lightest: #74a7c7;
    --midShade: #135e87;
    --strongShade: #003049;

    background: var(--strongShade) url("images/background\ pattern\ midshade.png");
    background-size: 100px; 
}

/* General / Whole document */
body{
    color: var(--midShade);
    text-align: center;
    min-height: 100vh;
    width: 50%;
    padding: 5% 5% 10vh 5%;
    border-left: var(--lightest) 3px solid;
    border-right: var(--lightest) 3px solid;
    margin: auto;
    background-color: var(--nearWhite);
    font-size: larger;
    font-family: 'Lato', sans-serif;
}

h1, h2{
    color: var(--contrast);
    font-family: 'Philosopher', sans-serif;
}

h3, h4, h5, h6{
    font-family: 'Titillium Web', sans-serif;
}

h3{
    color: var(--contrast);
}

button{
    color: var(--strongShade);
    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
}

hr{
    border-top: 3px double var(--lightest);
}

p, ul{
    text-align: justify;
}

/* header section */
#profile-pic{
    border: var(--midShade) solid 3px;
    /* border-radius: 50%; */
    width: 30%;
}

#quick-links{
    margin-top: 1rem;
    margin-bottom: 1rem;    
}

/* Nav sections */
#main-nav{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; 
}

#projects-nav{
    display: grid;
    grid-template-columns:  33.3% 33.3% 33.3%;
    grid-template-rows: 50% 50%;
}

.nav-button{
    font-size: 0.7em;
    padding: 1rem 0rem;
    margin: 1em 7.5%;
    border: var(--midShade) solid 2px;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);  
}

.nav-button:hover{    
    border: 2px solid var(--nearWhite);
    box-shadow: inset 0 0 20px var(--midShade);
    outline: 1px solid;
    outline-color: var(--nearWhite);
    outline-offset: 10px;
}

/* Main sections */
.swappable-div, .swappable-project-div{
    display: block;
    transition: all 400ms cubic-bezier(.55,0,.45,1);
    transform: rotate3d(0, 1, 0, 0deg);
}

.spin-out{
    transform: rotate3d(0, 1, 0, 90deg);
}

.hidden{
    /* had to separate from spin-out as transitions don't work with display property */ 
    display: none; 
}

/* skill section */
#skills-div p{
    text-align: center;
}

.skill-box{
    padding: 0.3rem 0.6rem;
    text-align: left;
    border: var(--midShade) solid 3px;
    margin-bottom: 0.2rem;
}

.skill-score{
    float: right;
}

#skills-div hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* education section */
#education-div h3{
    margin-bottom: 0.3rem;
}
#education-div h5{
    margin-top: 0.3rem;
    margin-bottom: 1rem;
}

#education-div h4{
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}

#education-div p{
    margin-top: 0.3rem;
}

#education-div p + ul{
    margin-top: 0.3rem;
}
.p-with-list{
    margin-bottom: 0.3rem;
}

.module-list{
    padding-left: 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.module-list li{
    margin-left: 1.4rem;
}

/* experience section */
#experience-div h3{
    margin-bottom: 0.3rem;
}
#experience-div h5{
    margin-top: 0.3rem;
    margin-bottom: 1rem;
}

/* project sections */
.project-links{
    display: flex;
    justify-content: center;
}

.icon-link{
    border: var(--midShade) solid 1px;
    padding: 0.3rem 0.6rem;
    margin: 0.5rem 0.5rem;
    color: var(--contrast);
    font-size: 1.5rem;
    width: 50%;

    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.icon-link:hover{
    border: 1px solid var(--nearWhite);
    box-shadow: inset 0 0 20px var(--conBright);
    outline: 1px solid;
    outline-color: var(--nearWhite);
    outline-offset: 10px;
}
.icon-link:link .icon-link:visited{
    color: var(--contrast);
    text-decoration: none;
}

.project-img{
    width: 50%;
    border: var(--midShade) solid 3px;
}

/* light in a box project */
#light-box-div ul{
    padding-left: 1.6rem;
}

/* media queries */
@media (max-width: 800px){
    body{
        width: 70%;
    }
    #main-nav{
        grid-template-columns: 50% 50%;
    }
    .project-img{
        width: 100%;
    }
    #profile-pic{
        width: 50%;
    }
}

@media (max-width: 600px){
    body{
        width: 85%;
    }
    #projects-nav{
        grid-template-columns: 50% 50%;
        grid-template-rows: 33.3% 33.3% 33.3%;
    }
}

/* 
font-family: 'Lato', sans-serif;
font-family: 'Philosopher', sans-serif;
font-family: 'Titillium Web', sans-serif;
*/